.btn{
    border-radius: 40px;
    font-weight: bold;
}

/* Стили для формы фильтров */
.form-group {
    margin-bottom: 1rem; /* Увеличивает отступ снизу */
    background-color: #343434; /* Цвет фона форм */
    color: #eeeeee; /* Цвет шрифта */
    padding: 0.5rem; /* Добавляет внутренние отступы */
  }
  
  /* Стиль для элементов внутри формы, чтобы они наследовали цвет шрифта */
  .form-group label,
  .form-group select {
    color: inherit;
  }
  
/* Стили для полей формы и выпадающего списка */
.form-group .form-control {
    background-color: #343434; /* Цвет фона */
    color: #eeeeee; /* Цвет текста */
    border: 1px solid #343434; /* Цвет границы, совпадающий с фоном */
  }
  
  /* Стиль для изменения цвета стрелки выпадающего списка */
  .form-control::-ms-expand {
    color: #eeeeee;
  }
  .form-control::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Инвертирует цвет стрелки для темного фона */
  }
  
  /* Стили для заголовков формы */
  .form-group label {
    color: #eeeeee; /* Цвет текста */
  }

.filter-card {
    background-color: #343434; /* Цвет фона карточки */
    color: #eeeeee; /* Цвет шрифта внутри карточки */
  }

.star-rating .star {
    color: #eeeeee;
  }

  .card {
    background-color: #292929; /* Цвет фона карточки */
    color: #eeeeee; /* Цвет шрифта внутри карточки */
    border: none; /* Убирает обводку */
  }
  
  .star-rating .on {
    color: #ffc107;
  }
  
  .star-rating .off {
    color: #e4e5e9;
  }

a {
    text-decoration: none !important;
}

/* Центрирование бренда и ссылок навигации */
.navbar-brand, .navbar-nav {
    flex: 1;
    justify-content: center;
    color: #eeeeee;
    display: flex;
}


.modal-content {
    background-color: #343434; /* Фоновый цвет всплывающего окна */
    border-radius: 40px; /* Скругление углов всплывающего окна */
}

.form-control {
    border-radius: 40px; /* Скругление углов полей формы */
}

/* Центрирование кнопки 'Войти' */
.ms-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}


.btn-primary {
    background-color: #EEEEEE;
    color: #343434;
    border-color: #EEEEEE;
}

.btn-primary:hover {
    background-color: #343434;
    border-color: #343434;
}

.btn-primary-check + .btn-primary:hover {
    background-color: #343434;
    border-color: #343434;
}

.navbar {
    background-color: #343434;
}

.search-button {
    background-color: #343434; /* Цвет кнопки */
    border-color: #343434; /* Цвет границы кнопки */
    color: #a3a3a3;
    font-weight: bold;
}

.search-input {
    border-radius: 40px; /* Скругление углов */
}

.form-control,
.form-check-input {
    color: #eeeeee; /* Цвет текста полей формы */
    background-color: #292929; /* Фоновый цвет полей формы */
    border: 1px solid #292929; /* Цвет границы полей формы */
}

/* Изменение цвета текста меток формы */
.form-label {
    color: #eeeeee;
}

/* Изменение цвета текста для чекбокса 'запомнить меня' */
.form-check-label {
    color: #eeeeee;
}

/* Убедитесь, что цвет плейсхолдера также изменен */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eeeeee;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eeeeee;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #eeeeee;
}

.form-group {
    margin-bottom: 20px; /* Увеличиваем отступ снизу для всех .form-group */
}

#emailFormGroup {
    margin-bottom: 1rem;
}

.modal-title {
    color: #eeeeee; /* Цвет текста заголовка модального окна */
    font-weight: bold;
}


h1 {
    color:#EEEEEE;
}

body {
    background-color: #292929;
    font-weight: bold;
    margin: 0;
    padding-bottom: 60px; /* Высота футера */
  }
  
  html, body {
    height: 100%;
    position: 0;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #343434;
    color: #666666;
    text-align: center;
    padding: 10px 0;
}
